<div class="tab-pane" id="tab4">
	<h3 class="pagination-centered">Advanced setup instructions are tilting soon!</h3>
	<p class="pagination-centered">Can't wait? <a href="mailto:contact@crowdtilt.com">Send us an email</a>.</p>
<!-- 	<h2 class="pagination-centered">Advanced Setup Instructions</h2> -->
</div>