<div class="tab-pane active" id="tab1">
	<h2 class="pagination-centered">Quick Setup - Video Guide (12 mins.)</h2>
	<hr>
	<center><iframe width="840" height="580" src="http://www.youtube.com/embed/6VO4CK1__Ew" frameborder="0" allowfullscreen></iframe></center>
</div>