<div class="tab-pane" id="tab3">
	<h2 class="pagination-centered">Four tips for a successful campaign</h2>
<!-- 	<p class="pagination-centered">Before launching your campaign, run over this list for tips to help your campaign get maximum funding.</p> -->
	<hr>

	<h3>1. Tilt v.s. Target - Setting your funding goal</h3>
	<hr>
	<center><img src="/assets/over_funded.png"></center>
	<blockquote>	
	  <p>At <a href="https://crowdtilt.com">Crowdtilt</a> (the creators of Crowdhoster) we like to stress "tilt v.s. target" when helping campaigns set goals.</p><br>
	  <ul>
	  	<li>The "tilt" is our own language for "campaign funding goal." It's the number that you type in as your Crowdhoster goal when setting up the campaign. (For example, a campaign for a color changing iPhone case could have a "tilt" goal of $2,500).</li><br>
	  	<li>The "target" is a funding amount above your published "tilt" goal that would allow you increase the quality of the product, trip, or experience that you're raising money for. Think of this as a "stretch goal."</li>
	  </ul>
	</blockquote>
	<blockquote>
	  <p>How should you implement a "tilt" goal and "target" goal in your campaign?</p><br>
	  <ul>
		  <li>A great way to include both goals is to set your "tilt" goal (as the funding goal on the "create campaign" page) at the absolute minimum amount that you need succeed in your respective project.</li><br>
		  <li>Next, in the body of your campaign, include clear target goals. Here's an example of a stretch goal that Soylent used to raise 521% of their original goal (that's over $400,000 more than their "tilt" goal!):</li>
	  </ul>
	</blockquote>
	<img src="/assets/target_goal.png">
<!-- // -->
	<h3>2. Lights, camera, funded! - Creating a great introduction video</h3>
	<hr>
	<iframe  class="pagination-centered" width="853" height="480" src="http://www.youtube.com/embed/PJ6a-WkTIjw" frameborder="0" allowfullscreen></iframe>
	<br><br>
	<blockquote>
	  <p>Check out this great introduction video for the <a href="https://r10plus.uair.co/r10">R10+ from UAir</a>.</p><br>
	  <p>Engaging, well-produced introduction videos are vital to the success of crowdfunding campaigns. We've listed out some do's and don'ts for you to keep in mind as you create your own video.</p><br>
	</blockquote>
	<blockquote>
	  <p>Make a great video by doing all of the following:</p><br>
	  <ul>
	  	<li>Introduce the product or idea (reason for funding) at the beginning of the video.</li>
	  	<li>Introduce yourself and your team. Explain why you are passionate about raising the money and why you're the right team to run the campaign.</li>
	  	<li>Make sure to talk about the rewards generally. There's no need to review every level of rewards if you have more than two or three.</li>
	  	<li>Utilize background music, a tripod, and an external microphone if possible to ensure professionalism in the final product.</li>	  	
	  </ul>
	</blockquote>
	<blockquote>
	  <p>Things to avoid when making your video:</p><br>
	  <ul>
	  	<li>Recording just your face ("The floating head" video) talking about your project for two minutes. This isn't engaging and we know you're more creative than that!</li>
	  	<li>Ending with just a "thank you" and no call-to-action. Make sure you end with a clear ask (e.g. "We're excited for you to join our campaign! Just click the 'Contribute' button to the right and we'll be in touch soon.") </li>
	  	<li>Not making a video and using a picture instead. This is lame! You'll have much more success throughout your campaign with a great intro video. Have incredible photos you want to use? They belong in the body description section.</li>		  	
	  </ul>	  
	</blockquote>
<!-- // -->
	<h3>3. Shape up - Create a killer campaign body description</h3>
	<hr>
	<center><img src="/assets/body_description.png"></center>
	<blockquote>
	  <p>Check out this great body description content for the <a href="https://r10plus.uair.co/r10">R10+ from UAir</a>.</p><br>
	  <p>Well-designed, colorful, and concise content in the body of your Crowdhoster campaign is a <em>huge</em> part of reaching (and exceeding) your funding goal. Here are a couple of tips to help you polish your body content and avoid common "campaign killer" pitfalls:</p><br>
	</blockquote>
	<blockquote>
	  <p>Great body descriptions do the following:</p><br>
	  <ul>
	  	<li>Recap the content of the introduction video. Remind your potential contributors of the product / idea / reason for raising funds and the background of you and/or your team.</li>
	  	<li>Use lots of awesome images! Creating a super thin wallet? Show some high-res shots of the wallet in action. Raising money for a trip? Share pictures of a map detailing where you plan to travel and photos of the hostels you hope to stay at.</li>
	  	<li>Address risk. Some campaigns, especially those that are manufacturing a product, are susceptible to risks in delivery of rewards. If your campaign has the potential to be delayed or derailed by a third party (e.g. manufacturer in China), be sure to tell your potential contributors about it. They will appreciate your candidness.</li> 	
	  </ul>
	</blockquote>
	<blockquote>
	  <p>Avoid these common body description pitfalls:</p><br>
	  <ul>
	  	<li>Text-only descriptions. Don't bore your potential contributors!</li>
	  	<li>Blurry images, images you find via a Google Image search, or irrelevant images (e.g. memes). Keep your images legal and professional</li>
	  	<li>Failing to update your body description content throughout the campaign. Be sure to update your potential contributors about all the traction you've already seen, especially if you've added new rewards/perks by exceeding your "tilt" goal.</li>		  	
	  </ul>	  
	</blockquote>
<!-- // -->
	<h3>4. Go Viral - Promoting your campaign</h3>
	<hr>
	<blockquote>
	  <p>First things, first - make sure you have your sharing details for Twitter and Facebook filled in. <br><br>You can do this at the bottom of the "campaign details" page.</p>
	</blockquote>
	<img src="/assets/setup_sharing_details.png">
	<blockquote>
	  <p>Here's what it looks like when a link <em>with</em> completed details is shared on Facebook.</p>
	</blockquote>
	<img src="/assets/with_details.png">
	<blockquote>
	  <p>Here's what it looks like when a link <em>without</em> completed details is shared on Facebook.</p>
	</blockquote>
	<img src="/assets/without_details.png">
	<blockquote>
	  <p>Here's a guide on how often to send out the link to your campaign:</p><br>
	  <ul>
	  	<li>Tweets: 4-5 times a week.</li>
	  	<li>Facebook posts: 1-3 times a week.</li>
	  	<li>E-mails: 3-4 per duration of campaign</li>	  	
	  </ul>
	</blockquote>
	<br>
	<blockquote>
	  <p>Some tips on generating traffic on social networks:</p><br>
	  <ul>
	  	<li>The three biggest usage spikes tend to occur on weekdays at 11:00 a.m., 3:00 p.m. and 8:00 p.m. ET.</li>
	  	<li>The biggest spike occurs at 3:00 p.m. ET on weekdays.</li>
	  	<li>Weekday usage is pretty steady, however Wednesday at 3:00 pm ET is consistently the busiest period.</li>	
	  	<li>Although most posts and comments appear around 3:00 p.m. ET, posts published in the morning tend to perform better than those published in the afternoon.</li>
	  	<li>Fans are less active on Sunday compared to all other days of the week.</li>	  	  	
	  </ul>
	</blockquote>
	<br>
	<blockquote>
	  <p><em>Remember:<br><br> The campaign’s chance of success is directly related to the amount of work and promotion the campaign administrator is willing to put forth.</em></p>
	  <br>
	  <p><em>Offer an incentive when you share. Try raffling off something to one of the first ten contributors or give a gift to the person who contributes the single highest contribution throughout the campaign.</em></p>
	</blockquote>
	<hr>
    <h3 class="pagination-centered">Want more tips? Just want a second pair of eyes to look over your campaign? <a href="mailto:contact@crowdtilt.com">Email us</a>!</h3><br>
</div>