<p class="pagination-centered">Crowdhoster setup instructions are best viewed from a desktop or laptop computer.</p>

<p class="pagination-centered">Email yourself the link with the button below or watch the quick setup video.</p>
<br>
<center><a class="btn btn-primary" href="mailto:?subject=View Crowdhoster setup instructions from your Desktop&body=Here's the link: http://crowdhostersetup.herokuapp.com.%0A%0A See you on the other side!">Email yourself the link</a></center>

<hr>

<iframe class="pagination-centered" width="280" height="240" src="http://www.youtube.com/embed/6VO4CK1__Ew" frameborder="0" allowfullscreen></iframe>

<script type="text/javascript">
$(function(){var e=$("iframe[src^='http://www.youtube.com']"),t=$("body");e.each(function(){$(this).data("aspectRatio",this.height/this.width).removeAttr("height").removeAttr("width")});$(window).resize(function(){var n=t.width();e.each(function(){var e=$(this);e.width(n).height(n*e.data("aspectRatio"))})}).resize()})
</script>