<div class="bs-docs-example">
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#lZ" data-toggle="tab">Quick Setup - Video</a></li>
      <li><a href="#lA" data-toggle="tab">Quick Setup - Tutorial</a></li>
      <li><a href="#lB" data-toggle="tab">Custom Setup</a></li>
      <li><a href="#lC" data-toggle="tab">"How do I customize...?"</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="lZ">
        <h2 class="pagination-centered">Quick Setup - Video Guide (12 mins.)</h2>
        <hr>
        <center><iframe width="840" height="580" src="http://www.youtube.com/embed/6VO4CK1__Ew" frameborder="0" allowfullscreen></iframe></center>

      </div>
      <div class="tab-pane" id="lA">
        <h2 class="pagination-centered">Quick Setup - Get a campaign running in 10 minutes.</h2>
        <hr>

        <h3>Step 1. Login to your Crowdhoster account</h3>
        <p>Need an account? <a href="http://www.crowdhoster.com/">Sign up for an invitation here.</a></p>
        <img class="pagination-centered" src="/assets/login.png">
        <hr>

        <h3>Step 2. Select "admin" from the navigation bar</h3>
        <img class="pagination-centered" src="/assets/admin_nav.png">
        <hr>

        <h3>Step 3. Click "Campaigns," then "New Campaign"</h3>
        <img class="pagination-centered" src="/assets/new_campaign.png">
        <hr>

        <h3>Step 4. Fill in the details of your campaign</h3>
        <p>Looking for an example of a successful Crowdhoster campaign?<br>
          Check out <a href="https://campaign.soylent.me/soylent-free-your-body">Soylent</a> or <a href="mailto:contact@crowdtilt.com">contact us for help</a>.</p>
        <img class="pagination-centered" src="/assets/center_for_ants.png">
        <hr>

        <h3>Step 5. You're all set!</h3>
        <p>Take a moment to preview your campaign and make sure the details on the page are correct.</p>
        <img class="pagination-centered" src="/assets/completed.png">
        <hr>

        <h3>Step 6. Publish and begin accepting payments</h3>
        <p>Congratulations on launching your Crowdhoster. Send a tweet to us <a href="http://twitter.com/Crowdtilt">(@Crowdtilt)</a> and show us how it turned out!</p>
        <img class="pagination-centered" src="/assets/publish_payments.png">

        <h4 class="pagination-centered">Still have questions? Check out the <a href="http://www.youtube.com/watch?feature=player_embedded&v=6VO4CK1__Ew">walkthough video</a> or <a href="mailto:contact@crowdtilt.com">email us</a>.</h4><br>


      </div>
      <div class="tab-pane" id="lB">
        <h3 class="pagination-centered">Custom setup instructions are tilting soon!</h3>
        <p class="pagination-centered">Can't wait? <a href="mailto:contact@crowdtilt.com">Send us an email</a>.</p>
      </div>
      <div class="tab-pane" id="lC">
        <h3 class="pagination-centered">"How do I customize..." FAQ instructions are tilting soon!</h3>
        <p class="pagination-centered">Can't wait? <a href="mailto:contact@crowdtilt.com">Send us an email</a>.</p>
      </div>
    </div>
  </div> <!-- /tabbable -->
</div>