<div class="bs-docs-example">
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#lA" data-toggle="tab">"Quick Setup"</a></li>
      <li><a href="#lB" data-toggle="tab">"I want to customize everything"</a></li>
      <li><a href="#lC" data-toggle="tab">"How do I customize...?"</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="lA">
        <img src="/assets/crowdtilt.png">
        <h1>So you want to set things up quickly, EH?!?!!!??!?!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac rutrum tellus. Praesent vitae justo semper, tristique diam vitae, pretium ligula. Curabitur viverra pharetra rhoncus. Vivamus nec odio quis enim pharetra tempor tincidunt id quam. Cras ut convallis eros. Nulla venenatis accumsan diam in ultricies. Nunc a nisi non arcu imperdiet hendrerit. Integer gravida et quam at eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Mauris posuere rutrum neque, scelerisque dapibus neque tempus vitae.

Sed eleifend auctor tellus, ac adipiscing ligula pretium et. Ut sit amet sem volutpat dui sollicitudin pellentesque ac ut sem. Mauris eleifend est ipsum, eget consequat odio mollis quis. Aliquam pulvinar non leo rhoncus ullamcorper. Sed lobortis lorem et augue malesuada semper. Quisque faucibus feugiat nisl, ut pulvinar urna auctor a. Donec euismod faucibus ipsum, in facilisis ligula molestie ut. Morbi vulputate neque pellentesque turpis dapibus commodo. Nunc a ipsum nec lorem suscipit vehicula sed vitae turpis.

Praesent non rutrum lacus, in rutrum ante. Nulla ultricies fermentum quam, id hendrerit arcu aliquet eget. Vestibulum a erat eget odio sagittis pretium eu sed enim. Etiam viverra commodo tortor, at pretium justo accumsan vitae. Nulla ultrices massa a condimentum euismod. Etiam nibh mi, ultrices rhoncus odio at, interdum pellentesque libero. Curabitur blandit placerat augue, eu vulputate libero bibendum sit amet. Donec blandit neque mi, a vestibulum metus scelerisque at.</p>
      </div>
      <div class="tab-pane" id="lB">
        <p>Howdy, I'm in Section B.</p>
      </div>
      <div class="tab-pane" id="lC">
        <p>What up girl, this is Section C.</p>
      </div>
    </div>
  </div> <!-- /tabbable -->
</div>